<p>Dear Customer,</p>
<p>This is follow up for this ticket in our Chat Ticketing Tracking.</p>
<p>Attachment added by <%= @attachment.author.name %></p>
<hr />
<p><b>Click to view: </b></p>
<p>
	<em>
		<%= link_to @attachment.filename, service_download_url(@attachment), class: 'icon-only icon-download ', title: l(:button_download), download: true, icon: 'download' -%></p>
	</em>
<hr />
<br />
<br />
<p>Best Regards</p>
<p>DCS Helpdesk Team</p>
<p>DCS Networks Pte Ltd</p>
<p>52 Ubi Ave 3,#03-43 Frontier, Singapore 408867</p>
<p>Main (65) 65001200 Helpdesk (65)65001212</p>
<p>Helpdesk Email : helpdesk@dcsnpl.sg</p>
