<p>Dear Customer,</p>
<p>We’ve created Ticket <b>#<%= @issue.id %></b> in our Chat Ticketing Tracking
System to help you.</p>
<p>Please click the link <span style="color: red;">“Let’s start our
chat!”</span> as below so we can talk through the issue you’re
facing and work together on a solution.</p>
<p><a href="<%= @url %>">Let’s start our chat!</a></p>
<br />
<br />

<p>Best Regards</p>
<p>DCS Helpdesk Team</p>
<p>DCS Networks Pte Ltd</p>
<p>52 Ubi Ave 3,#03-43 Frontier, Singapore 408867</p>
<p>Main (65) 65001200 Helpdesk (65)65001212</p>
<p>Helpdesk Email : helpdesk@dcsnpl.sg</p>
