<p>Dear Sender</p>
<p>Please do not reply to this email address.</p>
<p>If you need to contact us, please email <b>helpdesk@dcsnpl.sg</b> or call our Helpdesk at
<b>6500 1212.</b></p>
<p>Thank you.</p>
<p><b>DCS Networks Pte Ltd</b></p>
<p>Helpdesk: 6500 1212</p>