<p>Dear <%= @customer.customer_email %>,</p>
<p>We are writing to confirm that the service requested under Ref Number <b>#<%= @issue.id %></b> has been successfully completed.</p>
<p><b>Service Summary:</b></p>
<p><a href="<%= @url %>">Click for Helpdesk</a></p>
<p>Thank you for your continued support.</p>
<br />
<br />

<p>Best Regard</p>
<p>DCS Helpdesk Team</p>
<p>DCS Networks Pte Ltd</p>
<p>52 Ubi Ave 3,#03-43 Frontier, Singapore 408867</p>
<p>Main (65) 65001200 Helpdesk (65)65001212</p>
<p>Helpdesk Email : customer@helpdesk.dcsnpl.sg</p>
