<p>Dear Customer,</p>
<p><b>This is a follow-up regarding the ticket logged in our ticketing tracking system:<b></p>
<% if @j.present? %>
<%= @j.notes %>
<p>Attachment added by <%= @j.user.name %></p>
<% end %>
<hr />
<p><b>Click to view: </b></p>
<% ds = @j.details.select{|dt| dt.property == 'attachment' } %>
<% ds.each do |detail| %>
<% att = Attachment.find detail.prop_key %>
<p>
	<em>
		<%= link_to att.filename, service_download_url(att), class: 'icon-only icon-download ', title: l(:button_download), download: true, icon: 'download' -%>
  </em>
  </p>
<% end %>
<hr />
<br />
<br />
<p>Best Regards</p>
<p>DCS Helpdesk Team</p>
<p>DCS Networks Pte Ltd</p>
<p>52 Ubi Ave 3,#03-43 Frontier, Singapore 408867</p>
<p>Main (65) 65001200 Helpdesk (65)65001212</p>
<p>Helpdesk Email : helpdesk@dcsnpl.sg</p>
