<p>Dear Customer,</p>
<p>This is follow up for this ticket <b>#<%= @issue.id %></b> in our Chat Ticketing Tracking.</p>
<p>Notes added by <%= @journal.user.name %></p>
<p><%= @journal.notes %></p>
<p>Please click the link to reply back</p>
<p><a href="<%= @url %>">Reply!</a></p>
<br />
<br />

<p>Best Regards</p>
<p>DCS Helpdesk Team</p>
<p>DCS Networks Pte Ltd</p>
<p>52 Ubi Ave 3,#03-43 Frontier, Singapore 408867</p>
<p>Main (65) 65001200 Helpdesk (65)65001212</p>
<p>Helpdesk Email : customer@helpdesk.dcsnpl.sg</p>
